<%= link_to telegram_setup_1_path do %><button type="button"><%= t 'telegram_common.settings.authorize_client' %></button><% end %>
<em class="info"><%= t 'telegram_common.settings.authorize_hint' %></em>
